<h1> Sign In </h1>
<form action="/login" method="POST">
    <li>
        <label for="username">Username:</label>
        <input type="text" id="username" name="username">
    </li>

    <li>
        <label for="password">Password:</label>
        <input type="text" id="password" name="password">
    </li>
    <button id="submit" type="submit">Log in</button>

</form>