<h1>Sign-up to Start Cooking </h1>
<form action="/signup" method="POST">
     <li>
        <label for="name">Full Name:</label>
        <input type="text" id="name" name="name"> 
    </li>
    <li>
        <label for="username">Username:</label>
        <input type="text" id="username" name="username">
    </li>
    <li>
        <label for="password">Password:</label>
        <input type="text" id="password" name="password">
    </li>
    <button id="submit" type="submit">All Done!</button>


</form>