<h1 class="display-4"><center>Cook-Books</center></h1>
<div class="list-group">
<li class="list-group-item list-group-item-primary">All Cook-Books:</li>


    <% CookBook.all.each do |book| %>
       <a href="/cookbooks/<%= book.id %>" class="list-group-item list-group-item-action list-group-item-light"><%= book.name %></a>
       
    <% end %>

<li class="list-group-item list-group-item-warning">Your Cook-Books: </li>
    <% CookBook.all.each do |book|%>
       <% if book.user == current_user %> 
            
        <a href="/cookbooks/<%= book.id %>"class="list-group-item list-group-item-action list-group-item-light"><%=book.name%> </a>
           
        <% end %>
    <% end %>
</div>
