<h1>Create a new Cook-Book</h1>
<ul>
    <form action="/cookbooks" method="POST">
        <li>
            <label for="cook_bookname">Book Title:</label>
            <input type="text" id="cook_book_name" name="Name">
        </li>
        <li>
            <label for="description">Describe the book's purpose/theme:</label>
            <input type="text" id="description" name="description">
        </li>
        
        <input type="submit" value="Create">
    
    
    
    </form>



</ul>