<h1 class="display-4">Create a new Cook-Book</h1>

    <form action="/cookbooks" method="POST">
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">Book Title:</span>
        </div>
        <input type="text" class="form-control" placeholder="Fall Favorites!" aria-label="Username" aria-describedby="basic-addon1" id="cook_book_name" name="Name">
    </div>
        
    <div class="input-group">
        <div class="input-group-prepend">
            <span class="input-group-text text-wrap">Describe the book's purpose/theme:</span>
        </div>
        <textarea class="form-control" aria-label="With textarea" id="description" name="description"></textarea>
    </div><br>        
        
        

        
<button class="btn btn-outline-info" id="submit" type="submit">Create</button>

    
    
    
    </form>



